@import 'common';
@import 'variables/colors';
@import 'animation';

.rcw-launcher {
  @include animation(0, 0.5s, slide-in);
  align-self: flex-end;


  cursor: pointer;

  background-color: rgba(0, 0, 255, 0); // This makes the blue div transparent
  z-index: 1;
  padding: 0;
  border: none;

  &:focus {
    outline: none;
  }
}

.svg-w {
  display: flex;

  height: auto;

}

.rcw-open-launcher {
  @include animation(0, 0.5s, rotation-rl);
  bottom: 50%;
}

.rcw-close-launcher {
  width: 20px;
  @include animation(0, 0.5s, rotation-lr);
}

@media screen and (max-width: 800px) {
  .rcw-launcher {
    @include launcher-fs;
  }

  .rcw-hide-sm {
    display: none;

  }
}